@font-face {
  font-family: "Arial Rounded Bold";
  src: url("assets/Arial-Rounded-Bold.ttf"), local("Arial Rounded Bold");
}

body {
  max-width: 2500px;
  margin: 27px 27px;
  font-family: "Arial Rounded Bold";
  font-size: 1.5rem; /* = 24px */
  font-weight: 200;
  line-height: 1.1;
  letter-spacing: -0.02em;
  background: white;
  color: black;
}

h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

a {
  text-decoration: underline;
  color: rgb(42, 55, 162);
  cursor: grab;
}

a:hover {
  text-decoration: underline;
}

p {
  background-color: white;
}

a:active {
  color: rgb(42, 55, 162);
}

.pseudo-header {
  display: none;
}

.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: masonry;
}

.masonry-item {
  width: 300px;
}

.box-shadow {
  box-shadow: 0 0 10px 0.5px #d3cfcf;
}

/*2500*/
.grid::after {
  clear: both;
}

.grid-item {
  width: 300px;
  box-shadow: 0 0 10px 0.5px #d3cfcf;
  margin-bottom: 15px;
}

.output-grid {
  display: grid;
  grid-template-columns: 410px auto 1fr;
}

.output-grid img {
  margin-top: 16px;
  height: 70vh;
  box-shadow: 0 0 10px 0.5px #d3cfcf;
}

.gallery {
  display: flex;
  height: 200px;
}

.gallery img {
  margin-left: 20px;
  object-fit: contain;
  box-shadow: 0 0 10px 0.5px #d3cfcf;
}

.info {
  line-height: 0.2;
  width: 400;
}

.title {
  line-height: 1;
}

.masonry-mobile {
  display: none;
}

.gridless__container {
  display: flex;
  flex-wrap: wrap;
}

.gridless__image-box {
  margin: 18px;
  display: flex;
  justify-content: center;
}

.gridless__image-box img {
  object-fit: contain;
  width: 50%;
  justify-content: center;
}

.gridless__image-box:nth-child(3n + 0) img {
  transform: translateX(60%);
}

.gridless__image-box:nth-child(odd) img {
  transform: translateY(-5%);
}

.gridless__image-box:nth-child(5n + 0) img {
  transform: translateX(10%);
}

.gridless__image-box:nth-child(2n + 0) img {
  transform: translateX(20%);
}

.work-page .showGrid {
  display: none;
}

.about-page .showGrid {
  display: none;
}

.billboard {
  width: 70%;
}

.non-click-link {
  color: rgb(42, 55, 162);
}

.A0 {
  width: 45%;
}

.A1 {
  width: 40%;
}

.A2 {
  width: 35%;
}

.A3 {
  width: 30%;
}

.A4 {
  width: 25%;
}

.A5 {
  width: 20%;
}

.A6 {
  width: 15%;
}

@media screen and (max-width: 770px) {
  .masonry-desktop {
    display: none;
  }

  .masonry-mobile {
    display: flex;
  }

  h3 {
    font-size: 0.8rem;
  }

  body {
    font-size: 0.8rem;
    line-height: 1.05;
    overflow-x: hidden;
    padding: 2vw;
  }

  a {
    line-height: 0.02;
  }

  .designers {
    overflow-x: hidden;
    width: 80vw;
  }

  .main-header {
    display: block;
  }

  .pseudo-header {
    display: none;
  }

  .masonry {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /*max-width: 1000px;*/
    align-items: center;
    /*column-gap: 32px;*/
  }

  .masonry-item {
    overflow-x: hidden;
    width: 100%;
    padding: none;
  }

  .output-grid {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .gallery {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .gallery img {
    padding: none;
    margin-left: 0px;
  }

  .output-grid img {
    overflow-x: hidden;
    height: auto;
    padding: none;
    width: 100%;
  }

  #imageToMove,
  .hiddenlink {
    display: none;
  }

  .gridless__image-box img {
    object-fit: contain;
    width: 100%;
    justify-content: center;
  }
}
