@font-face {
  font-family: "Arial Rounded Bold";
  src: url("assets/Arial-Rounded-Bold.ttf"), local("Arial Rounded Bold");
}

body {
  max-width: 2500px;
  margin: 27px 27px;
  font-family: "Arial Rounded Bold";
  font-size: 1.5rem; /* = 24px */
  font-weight: 200;
  line-height: 1.1;
  letter-spacing: -0.02em;
  background: white;
  color: black;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: underline;
  color: rgb(42, 55, 162);
}

a:hover {
  text-decoration: underline;
}

p {
  background-color: white;
}

a:active {
  color: rgb(42, 55, 162);
}

.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: masonry;
}

.masonry-item {
  width: 300px;
}

.box-shadow {
  box-shadow: 0 0 10px 0.5px #d3cfcf;
}

/*2500*/
.grid::after {
  clear: both;
}

.grid-item {
  width: 300px;
  box-shadow: 0 0 10px 0.5px #d3cfcf;
  margin-bottom: 15px;
}

.output-grid {
  display: grid;
  grid-template-columns: 410px auto 1fr;
}

.output-grid img {
  margin-top: 16px;
  height: 70vh;
  box-shadow: 0 0 10px 0.5px #d3cfcf;
}

.info {
  line-height: 0.2;
  width: 400;
}

.title {
  line-height: 1;
}

@media screen and (max-width: 770px) {
  body {
    font-size: 1rem;
    line-height: 1.2;
    overflow-x: hidden;
    padding: 2vw;
    letter-spacing: -0.007em;
  }

  .designers {
    overflow-x: hidden;
    width: 80vw;
  }

  .main-header {
    display: none;
  }

  .pseudo-header {
    display: block;
  }

  .masonry {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /*max-width: 1000px;*/
    align-items: center;
    /*column-gap: 32px;*/
  }

  .masonry-item {
    overflow-x: hidden;
    width: 100%;
    padding: none;
  }

  .output-grid {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
  }
  .output-grid img {
    overflow-x: hidden;
    height: auto;
    padding: none;
    width: 100%;
  }

  #imageToMove,
  .hiddenlink {
    display: none;
  }
}
